:root {

}

html {
  color: black;
  background-color: #fafaf5;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
}

html, body, #app {
  margin: auto;
}

#app {
  flex-direction: column;
  width: 90vw;
  font-size: 2.5vw;
}

@media screen and (max-width: 700px) {
  .link a img {
    max-width: 20vw;
    max-height: 20vw;
  }
  #headshot {
    margin-top: 30px;
  }
}

@media screen and (min-width: 700px) {
  #app {
    font-size: 18px;
  }
}

#headshot {
  border-radius: 50%;
  overflow: hidden;
  width: 80vw;
  height: 80vw;
  max-width: 320px;
  max-height: 320px;
  margin: auto;
  margin-bottom: 30px;
}

#headshot img {
  background: black;
  display: block;
  position: relative;
  left: 27%;
  margin: auto;
  height: 100%;
  float: right;
}

nav {
  min-height: 150px;
  width: 100%;
  max-width: 520px;
  margin: auto;
}

.fadein {
  filter: opacity(0%);
  animation: showNav;
  animation-duration: 1s;
  filter: opacity(100%);
}

.nav-links {
  display: flex;
  margin: auto;
  padding: 1vw;
}

.nav-links .link {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  text-align: center;
}

.nav-links a {
  text-align: center;
  color: #333e14;
}

.nav-links a:hover {
  text-align: center;
  color: #F76902;
}

.link a {
  max-width: min-content;
  margin: auto;
  padding: 10px;
  padding-bottom: 7px;
}

.link a img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.link a:hover {
  background-image: radial-gradient(#ccc, #ccc, #0000, #0000);
}

.link a:active {
  animation: clicked;
  animation-duration: 0.1s;
  filter: invert(100%);
}

header {
  padding: 1vw;
  font-size: 3em;
  max-width: max-content;
  margin: auto;
}

@keyframes showNav {
  from { filter: opacity(0%); }
  to { filter: opacity(100%); }
}

@keyframes clicked {
  from { filter: none; }
  to { filter: invert(100%); }
}


