<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>👔 Leon Kühne</title>
  <meta name="description" content="Welcome to my personal hub!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script lang="vue" src="js/script.js"></script>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app">
    <!-- show me -->
    <div id="top">
      <div id="headshot" v-bind:class="{ slideDown: !showHeadshot }">
        <img src="media/leonkuhne.png" alt="Portrait" />
      </div>
      <div id="skills">
        <!-- show projects -->
        <div id="project-container" v-on:click="showProjects = !showProjects">
          <div id="project-menu" v-bind:class="{ slideLeft: (showSkillIdx > 0), left: !showLinks }">☰</div>
          <div id="project-expansion">
            <div id="projects" v-if="showProjects">
              <a href="https://timeline.leonk.dev">timeline</a>
              <a href="https://blog.leonk.dev">blog</a>
              <a href="https://erode.leonk.dev">erode</a>
              <a href="https://dot.leonk.dev">dot</a>
              <a href="https://csz.leonk.dev">csz</a>
              <a href="https://f.leonk.dev">f</a>
              <a href="https://nodel.leonk.dev">nodel</a>
              <a href="https://notes.leonk.dev">notes</a>
              <a href="https://store.leonk.dev">store</a>
              <a href="https://stub.leonk.dev">stub</a>
              <a href="https://waves.leonk.dev">waves</a>
            </div>
          </div>
        </div>
        <div class="skill" v-bind:class="{ slideLeft: (showSkillIdx > 1), left: !showLinks }">DevOps/Cloud Engineer</div>
        <div class="skill" v-bind:class="{ slideLeft: (showSkillIdx > 2), left: !showLinks }">FullStack Developer</div>
        <div class="skill" v-bind:class="{ slideLeft: (showSkillIdx > 3), left: !showLinks }">Solution Architect</div>
      </div>
    </div>
    <header><em>Hi</em>{{ title }}</header>
    <nav>
      <div v-if="showLinks" class="nav-links" v-bind:class="{ fadein: showFade }">
        <div class="link">
          <a href="http://github.com/leonkuhne">
            <img src="media/github.png" alt="GitHub" title="GitHub" height="64px" />
          </a>
        </div>
        <div class="link">
          <a href="https://www.linkedin.com/in/leonkuhne">
            <img src="media/linkedin.png" alt="LinkedIn" title="LinkedIn" height="64px" />
          </a>
        </div>
        <div class="link">
          <a href="https://rit-csm.symplicity.com/profiles/leon.kuhne">
            <img src="media/rit.png" alt="RIT" title="RIT" height="85px" />
          </a>
        </div>
        <div class="link">
          <a href="https://meritpages.com/leonkuhne">
            <img src="media/merit.png" alt="RIT Merit" title="Merit Pages" height="70px" />
          </a>
        </div>
      </div>
    </nav>
    <h3 v-if="showLinks" class="nav-links" v-bind:class="{ fadein: showFade }">
      <a id="resume" href="media/LeonK-Resume.pdf">Resume</a>
    </h3>
    <h3 v-if="!showLinks"></h3>
  </div>
</body>
</html>
